* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #C5E4E7;
    font-family: 'Space Mono', monospace;
}
.logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.tip-calculator {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 30px;
    width: 50%;
    padding: 25px;
}

.bill-input {
    display: flex;
    flex-direction: column;
}
label {
    color: #5A6C6E;
    padding-bottom: 10px;
}
.select-tip label {
    padding: 25px 0 0 0;
}
input {
    padding: 8px 0;
    background-color: #F3F8FB;
    border: none;
    border-radius: 5px;
    outline: 2px solid transparent;
    text-align: right;
    font-weight: 700;
    padding-right: 12px;
    color: hsl(183, 100%, 15%);
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.bill-input input {
    background-image: url(./images/icon-dollar.svg);
    background-position: 8% center;
    background-repeat: no-repeat;
    
}
input:hover {
    outline: 2px solid hsl(172, 67%, 45%);
}
.tips {
    padding: 15px;
}
.tip {
    background-color: #00474B;
    color: white;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
}
.tip:hover {
    background-color: #26C2AD;
    color: hsl(183, 100%, 15%);
}
.active-tip {
    text-align: center;
    transition: 0.2s ease-in-out;
    font-weight: bolder;
    background-color: #26C2AD;
    color: hsl(183, 100%, 15%);
}
.border {
    border: 2px solid #AB7161 !important;
}
.custom-tip {
    text-align: center;
    font-size: 22px;
}
.tips .col-md-4{
    flex: 0 0 30%;
    margin-bottom: 12px;
    padding: 0;
}
.error {
    font-size: 10px;
    color: #AB7161;
    position: absolute;
    top: 73%;
    left: 36%;
    margin: 0;
}
.numberof-people {
    display: flex;
    flex-direction: column;
    color: #5A6C6E;
    padding-bottom: 10px;
}
.numberof-people input {
    background-image: url(./images/icon-person.svg);
    background-position: 8% center;
    background-repeat: no-repeat;
}
#no-of-people {
    margin: 0;
    padding-bottom: 10px;
}
.result {
    background-color: #00474B;
    border-radius: 30px;
    width: 100%;
    color: white;
    height: 100%;
}
.btn {
    background-color: #26C2AD;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    color: #00474B;
    border: 1px solid #26C2AD;
}
.btn:hover {
    background-color: #9FE8DF;
    color: #00474B;
    box-shadow: none;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 0;
    flex-wrap: wrap;
}
.amount,
.tip-total {
    color: #26C2AD;
    font-size: 35px;
}
.title {
    color: #EEFCFB;
    font-size: 15px;
    margin-bottom: 0;
}
.description {
    font-size: 12px;
    color: #EEFCFB;
}

@media screen and (max-width: 767px) {
    .tip-calculator {
        width: 100%;
        left: 53%;
    }
    .result {
        height: 45vh;
    }
}